@import "../../variables";

.has-search .form-control {
  padding-left: 3em;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  pointer-events: none;
  color: $black;
}
